<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="text-center title">TESTING GAMING SOCIAL MEDIA </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
      <div>
        {{#each games}}
          {{#unless this.beatGame}}
            <div class="row">
              <div class="col-md-9">
              <div class="newGame">
                <p class="text-center">
                {{this.id}}. {{this.gameName}}
                </p>
              </div>
              </div>
              <div class="col-md-3">
              <div>
              <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="Game Beaten" value="true">
                <button type="submit" class="center-block">Move Game to Completed</button>
              </form>
              </div>
              </div>
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-4">
        {{#each games}}
          {{#if this.gameBeaten}}
            <div class="eaten">
            <p class="text-center">
              {{this.id}}. {{this.game_name}}
            </p>
            </div>
          {{/if}}
        {{/each}}
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <form class="create-update-form" action="/" method="POST">

        <div class="form-group">
          {{!-- <label for="ca">Burger Name:</label> --}}
          <input type="text" id="ca" name="name" class="center-block games_field">
        </div>

        <button type="submit" class="center-block btn btn-primary">POST CONTENT</button>
        <p class="text-center">Add a new game and click the 'ADD GAME' button"</p>
      </form>
    </div>
  </div>

</div>
