<!-- NAVIGATION BAR -->
  <div class="nav-wrapper">
    <nav class="navbar navbar-dark bg-dark">
      <!--Search Bar -->
      <div class="input-group input-group-sm justify-content-start">
        <div class="logo">
          <img src="/assets/images/logo.png" style="height: 34px; width: 34px" href="#" alt="home">
        </div>
        <input type="text" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
        <div class="input-group-append">
          <span class="input-group-text" id="inputGroup-sizing-sm"><a class="fas fa-search"></a></span>
        </div>
      </div>
      <!--NAVIGATION ICONS-->
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link fas fa-home" href="#" data-toggle="tooltip" data-placement="bottom" title="Home"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fas fa-gamepad" href="#" data-toggle="tooltip" data-placement="bottom" title="My Games"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fas fa-bell" href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications"></a>
        </li>
        <li id="miniPic" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">
            <img src="/assets/images/Profile Pic.jpg" alt="Profile Settings" class="rounded-circle" style="height: 25px; width: 25px"
              data-toggle="tooltip" data-placement-"bottom" title="Profile Settings">
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Profile/a>
            <a class="dropdown-item" href="#">Edit Profile</a>
            <a class="dropdown-item" href="#">Explore</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  
<div class="container">
    <div class="row">
      <!--USER PROFILE INFORMATION-->
      <div class="profile-info col-sm-3">
        <div class="info-card" style="max-width: 18rem;">
          <img class="card-img-top rounded-circle" src="/assets/images/Profile Pic.jpg" style="height: 160px; width: 160px"
            alt="Profile Photo">
          <div class="card-body">
            <div id="userName">
				<h5 class="user" style="font-weight: bold"> {{name}} </h5>
			</div>
			<div id="playerStyle">
				<h6 class="player-level" style="font-style: italic; color: rgb(149, 17, 189)"> <!-- PLAYER STYLE/LEVEL HERE --> </h6>
			</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="itemAge">Age: {{age}}</li>
            <li class="list-group-item" id="itemLocation">Location: {{location}}</li>
            <li class="list-group-item" id="itemPlatform">Style: {{style}}</li>
          </ul>
          <div class="card-footer">
            <div class="profile-change">
              <form action="/add-game", method="POST">
              <input type="text" class="form-control txtBox" placeholder="New Game" name="game">
              
            </div>
          </div>
          <button class="btn btn-block" id="addNewGame">Add New</button>
          </form>
        </div>

        <div class="game-list-wrapper" style="max-width: 18rem; max-height: 100%; text-align: center">
          <h6 class="game-titles" style="color: rgb(149, 17, 189)">My Games {{games}}</h6>

          <div class="game-list">
            <ul class="game-list-items" style="text-align: left">
            </ul>
          </div>
        </div>


      </div>

      <!--NEWS FEED SECTION -->
      <div class="col-sm-6">
        <div class="form-group">
          <textarea class="form-control" id="wallPost" rows="2" placeholder="Post to your game board..."></textarea>
        </div>
        <div id="contentPosted" class="newsFeed">
          News Feed content will appear here
        </div>
      </div>

      <!--GAME TRACKING-->
      <div class="games-wrapper col-sm-3">
        <div class="card border-dark" style="max-width: 18rem;">
          <div class="card-header">TRENDING</div>
          <div class="card-body">
            <h5 class="card-title">Community</h5>
            <p class="card-text">Text Text Text
              content.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="./assets/js/index.js"></script>